#profile {
	display: table-cell;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	background-color:white;
	padding:3px;
	margin-top: 1.5em;
}

.about {
	padding-left:1em;
	font-size:3vh;
}

.well{
	margin-top:2em;
}

.sidebarlink{
	margin-top:2em;
  list-style: none;
	padding-right:2em;
}

#sidebar{
	background-color:#b31b1b;
	color:white;
	height:100%;
	position: fixed;
	padding-right: 1em;
}

#content{
	background-color:white;
	position:absolute;
	right:0px;
}

a{
	color:#b31b1b;
}
a:hover {
	color:#EF9A9A;
	text-decoration: none;
}

h1{
	margin-top:3vh;
}

h4{
	font-size:6vh;
}

hr{
	color:gray;
	border-color:gray;
	border-width:1px;
}

body{
	font-family:'Quicksand';
}

.sidebar-text{
	font-size:4vh;
}

.size1{
	font-size:8vh;
}

.size2{
	font-size:4vh;
}

.size3{
	font-size:3vh;
}

.link{
	font-size:5vh;
	list-style:none;
}

.white{
	color:white;
}

.center{
	text-align:center;
}

.circlesml {
	display:inline-block;
    line-height:80px;
}

@media screen and (max-width: 992px) {
	#sidebar{
		position: inherit;
	}
	#content{
		width:100%;
	}
}

@media screen and (max-height: 500px) {
	#profile{
		display: none;
	}

	.sidebar-text{
		font-size:8vh;
	}

	.size1{
		font-size:8vh;
	}

	.link{
		font-size:6vh;
	}
}
