.text-center,.centered {
    text-align: center;
}
.title {
    font-size: 64px;
    margin-top: 50px;
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

h4 {
    font-size: 16px;
    color: #333333;
}

h3 {
    font-size: 20px;
}

body {
    background-color: white;
    color: #666666;
    margin: 10px;
    font: 14px verdana,tahoma,sans-serif;
}

.highlight {
    color: crimson;
}

a {
    text-decoration: none;
    color: crimson;
    padding: 6px;
    margin: -6px;
}

a:hover {
    background-color:#eeeeee;
    color: darkred;
    text-decoration: none;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:300px;
    border: 3px solid #cccccc;
}

.about {
    color: #666666;
}

.card {
    padding-top: 15px;
}

.nm {
    padding: 0px;
    margin: 0px;
}
