.text-center,
.centered {
    text-align: center;
}

.title {
    font-size: 64px;
    margin-top: 50px;
    color: #555;
    font-family: 'Lato', sans-serif;
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #444;
}

body {
    background-color: white;
    color: black;
    margin: 10px;
    font: 16px;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 15px;
}

table {
    margin-bottom: 15px;
}

.highlight {
    background-color: white;
    color: firebrick;
}

a {
    text-decoration: none;
    color: firebrick;
    padding: 3px;
    margin-bottom: -5px;
    margin-top: -5px;
    margin-left: -3px;
    margin-right: -3px;
}

a:hover {
    background-color: #eee;
    color: darkred;
    text-decoration: none;
    transition: 0.5s;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 350px;
    border: 1px solid #aaa;
}

.content-pad {
    padding-top: 15px;
}

.card {
    padding-top: 15px;
}

.nm {
    padding: 0px;
    margin: 0px;
}

.slide {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -webkit-animation: fadein 0.5s forwards, slide-in 0.5s forwards;
    animation: fadein 0.5s forwards, slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes fadein {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}