---
layout: default
title: My Blog
description: Blog Homepage
---
<div class='row slide'>
    <div class="col-sm-6 offset-sm-3 content-pad">
        <h3>{{ page.title }}</h3>
        <div>Welcome to my blog! As you can see, I like to write about technical things (mainly programming languages,
            compilers, & data vis).<br><br> Items marked with 🔗 are links to externally-published blog posts or podcasts I contributed to.</div>
        <br>
        <a href="https://yangdanny97.github.io/blog/chronological.html">Sort by Date</a>
        <hr>
        <h3>Compilers/PL</h3>
        <p>Posts about programming languages and compilers</p>
        <br>
        {% for post in site.posts %}
        {% if post.category == "Compilers" %}
        {% if post.external_url %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.external_url }}" title="{{ post.title }}">{{
                post.title }} 🔗 {{ post.external_site }}</a></p>
        {% else %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{
        post.title }}</a></p>
        {% endif %}
        {% endif %}
        {% endfor %}
        <hr>
        <h3>Data Visualization/D3</h3>
        <p>Posts and tutorials about data visualization, usually with D3.js</p>
        <br>
        {% for post in site.posts %}
        {% if post.category == "Vis" %}
        {% if post.external_url %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.external_url }}" title="{{ post.title }}">{{
                post.title }} 🔗 {{ post.external_site }}</a></p>
        {% else %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{
        post.title }}</a></p>
        {% endif %}
        {% endif %}
        {% endfor %}
        <hr>
        <h3>Technical</h3>
        <p>Posts and essays about other technical subjects that I'm interested in</p>
        <br>
        {% for post in site.posts %}
        {% if post.category == "Technical" %}
        {% if post.external_url %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.external_url }}" title="{{ post.title }}">{{
                post.title }} 🔗 {{ post.external_site }}</a></p>
        {% else %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{
        post.title }}</a></p>
        {% endif %}
        {% endif %}
        {% endfor %}
        <hr>
        <h3>Cooking</h3>
        <p>Simple recipes for my favorite foods, nothing fancy here. Take all the numbers with a grain of salt (heh)
            because I improvise a lot and everything is eyeballed.</p>
        <p>Recipes marked with ⏱️ take 30 minutes or less to make.</p>
        <p>Want more yummy recipes from someone who doesn't just wing it all the time? Check out <a
                href="https://ryanlu41.github.io/blog/blog_category.html">Ryan Lu's
                blog.</a></p>
        <br>
        {% for post in site.posts %}
        {% if post.category == "Cooking" %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{
                post.title }}</a> </p>
        {% endif %}
        {% endfor %}
        <hr>
        <h3>Misc</h3>
        <p>Anything that doesn't fit in the above categories</p>
        <br>
        {% for post in site.posts %}
        {% if post.category == "Misc" %}
        <p><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{
                post.title }}</a> </p>
        {% endif %}
        {% endfor %}
    </div>
</div>