<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Danny Yang">
    <meta name="description" content="Personal Website of Danny Yang, Cornell CS 2020">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<link rel='stylesheet' href="{{ site.url }}/css/style.css">
<link rel='stylesheet' href="{{ site.url }}/css/rouge-github.css">
</head>

<body>
    <h1 class="centered title"> DANNY YANG </h1>
    <h4 class="centered">
        <a href='{{ site.url }}/'>about me</a> ·
        <a href='{{ site.url }}/experience/'>work experience</a> ·
        <a href='{{ site.url }}/projects/'>projects</a> ·
        <a href='{{ site.url }}/education/'>education</a> ·
        <a href='{{ site.url }}/blog/'>blog</a>
    </h4>
        {{ content }}
    <br>
    <h4 class="centered">
        <a href='https://github.com/yangdanny97' target='_blank'>github</a> ·
        <a href='https://www.linkedin.com/in/yangdanny97' target='_blank'>linkedin</a> ·
        <a href='mailto:dzy4@cornell.edu' target='_blank'>email</a>
    </h4>
    <br>
</body>
{% include analytics.html %}

</html>