---
layout: default
---
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
<style>
    .meta {
        font-family: verdana, tahoma, sans-serif;
        color: #444;
    }

    li {
        padding-bottom: 8px;
    }

    .post {
        font-size: 1rem;
    }

    .borders {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.75rem;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2rem;
    }

    .post_title {
        font-size: 2.25rem;
    }
</style>
<div class='row slide'>
    <div class="col-sm-8 offset-sm-2 borders">
        <h1 class="post_title">{{ page.title }}</h1>
        <div class="meta post">{{ page.date | date_to_string }} - {{ content | number_of_words }} words - {{ content | number_of_words | divided_by: 300 }} minute read - 
            <a href="/feed.xml" target="_blank">RSS</a>
        </div>
        <div class="post">
            {% include toc.html html=content %}
            {% include anchor_headings.html html=content anchorBody="#" %}
        </div>
        <hr>
        <script src="https://giscus.app/client.js" data-repo="yangdanny97/yangdanny97.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnk3NjkyNjY0Nw==" data-category="General"
            data-category-id="DIC_kwDOBJXOt84CTheu" data-mapping="title" data-strict="1" data-reactions-enabled="1"
            data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="en" crossorigin="anonymous"
            async>
            </script>
    </div>
</div>